<persistence xmlns="http://java.sun.com/xml/ns/persistence">
    <persistence-unit name="my-persistence-unit">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>br.es.pews.back.models.ADM</class>
        <class>br.es.pews.back.models.Documento</class>
        <class>br.es.pews.back.models.Paciente</class>
        <class>br.es.pews.back.models.Profissional</class>
        <class>br.es.pews.back.models.Responsavel</class>

        <properties>
            <property name="jakarta.persistence.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="jakarta.persistence.jdbc.url" value="jdbc:postgresql://postgres:5432/pewsDatabase"/>
            <property name="jakarta.persistence.jdbc.user" value="rootdb"/>
            <property name="jakarta.persistence.jdbc.password" value="rootdb"/>

            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
        </properties>

    </persistence-unit>
</persistence>